<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Drowsiness Detection System</title>
    <!-- Serve static assets from the React build -->
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='index.css') }}"
    />
  </head>
  <body>
    <div id="root"></div>

    <!-- Flask will inject the built React app here -->
    <script src="{{ url_for('static', filename='index.js') }}"></script>
  </body>
</html>
